{
    "extends": "rallycoding",
    "rules": {
        "max-len": [1, 120, 2, { "ignoreComments": true}],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "semi": ["error", "never"],
        "eol-last": "off"
    },
    "globals": {
        "fetch": true
    }
}